.min {
    /* min-height: 100% !important; */
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/* 2所有图片 */
.allinages {
    width: 100%;
    /* height: 63.66rem; */
    position: relative;
    text-align: center;
    font-size: 0.32rem;
}

/* 2.1所有的图片盒子：做背景 */
.allimages-01 {
    width: 100%;
}

.all {
    width: 100%;
    height: 11.53rem;
}

.all:nth-child(5) {
    width: 100%;
    height: 11.9rem;
}

/* 2.2图片上面的盒子 */
.reaalcon {
    /* background-color: chocolate; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* 2.2.1logo图片 */
.logo {
    padding-left: 0.6rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

.logo-01 {
    width: 2.14rem;
    height: 0.62rem;

}

.menu {
    width: 0.44rem;
    height: 0.31rem;
}

/* 2.2.2主题 */
.section2 {
    width: 100%;
    text-align: center;
    margin-top: 2.45rem;
    margin-bottom: 3.02rem;
}

.titiel {
    width: 5.97rem;
    height: 2.19rem;
    margin: 0 auto;
}

/* 2.2.3小图标 */
.arrdown {
    display: block;
    width: 0.25rem;
    height: 0.24rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
}

/* 2.2.4视频 */
.shipin{
    width: calc(337rem / 37.5);
    height: calc(191rem / 37.5);
    margin: 0 auto;
    background-color: antiquewhite;
}
.shipin video{
    width: 100%;
}


/* 2.2.5列表 */
.videolist {
    width: 6.8rem;
    height: 3.1rem;
    background-color: #6a3de0;
    box-shadow: 0px 0.03rem 0.1rem 0px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    margin-top: 0.38rem;
    overflow-y: auto;
}

.evelist {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: left;
    font-size: 0.26rem;
    color: white;
    padding-left: 0.12rem;
    padding-right: 0.3rem;
}

.order {
    display: inline-block;
    float: left;
}

.livetit {
    display: inline-block;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0.26rem;
}

.reply {
    color: #57e4ff;
    float: right;
}

.carousel {
    width: 100%;
    overflow-x: auto;
}

.lubo {
    width: 1089%;
    margin-top: 0.7rem;
    overflow: hidden;
}

.lubo-00 {
    padding-left: 0.3rem;
    float: left;
    height: 1rem;
    /* width: 10%; */

}

.luenbo-01 {
    width: 100%;
    display: block;
}

.luenbo-02 {
    float: left;
    width: 3.15rem;
    box-shadow: 0px 0.03rem 0.1rem 0px rgba(0, 0, 0, 0.32);
    border: solid 2px #8b52ef;
    margin-right: 0.2rem;
    flex-shrink: 0;
}

/* 2.2.7媒体报道  */
.commontit {
    width: 100%;
    height: 0.92rem;
    border-left: 0.18rem solid #8b52ef;
    padding-left: 0.2rem;
    text-align: left;
    font-family: FZltcHK--gBK1-0;
}

.tithead {
    font-size: 0.36rem;
    color: white;
    text-shadow: 0px 5px 5px #000000;
}

.titeng {
    font-size: 0.24rem;
    color: #aa8ff4;
    margin-top: 0.1rem;
}

/* 2.2.8新华社下的海尔  */
.commomerji {
    width: 100%;
    margin-top: 0.34rem;
    margin-bottom: 0.32rem;
    position: relative;
}

.erji {
    width: 7.5rem;
    height: 0.64rem;
    display: block;
}

.describ {
    color: #fefefe;
    font-size: 0.24rem;
    position: absolute;
    left: 46%;
    /* top: 84%; */
    transform: translate(-35%, -146%);
}

/* 2.2.9海尔历史  */
.imglist2 {
    height: 3.91rem;
    position: relative;
    width: 100%;
    padding-left: 0.34rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

.contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.evenew {
    width: 6.48rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 0.2rem;
    cursor: pointer;
}

.eve {
    width: 100%;
}

.xinhua {
    width: 1.5rem;
    height: 0.52rem;
    position: absolute;
    top: 0.12rem;
    left: 0.12rem;
}

.yearcon {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1.3rem;
    height: 0.56rem;
    line-height: 0.59rem;
    background-color: #8b52ef;
    border-radius: 0.28rem 0px 0.24rem 0px;
    background-color: #8b52ef;
    color: white;
    font-size: 0.28rem;
    font-weight: bold;
}

.bottomdes {
    position: absolute;
    height: 1rem;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 0.24rem;
    color: #fefefe;
    background-image: linear-gradient(transparent, #3e3e3e);
    padding: 0 0.3rem;
    line-height: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 2.2.11人民网说海尔图片 */
.containthity {
    width: 6.77rem;
    height: 3.92rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0.7rem;
}

.containthity img {
    width: 100%;
    height: 100%;
}

/* 2.2.12相关文章 */
.commontit {
    width: 100%;
    height: 0.92rem;
    border-left: 0.18rem solid #8b52ef;
    padding-left: 0.2rem;
    text-align: left;
    font-family: FZltcHK--gBK1-0;
}

#outer .tithead {
    font-size: 0.36rem;
    color: white;
    text-shadow: 0px 5px 5px #000000;
}

.titeng {
    font-size: 0.24rem;
    color: #aa8ff4;
    margin-top: 0.1rem;
}

/* 2.2.13文章下面的文字 */
.containart {
    width: 6.8rem;
    height: 5.2rem;
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 0.3rem;
    color: white;
}

.containart .eveart {
    height: 1.18rem;
    background-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0px 2px 0.1rem 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.16rem;
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.containart .date {
    padding: 0.06rem;
    width: .78rem;
    height: 0.68rem;
    border: solid 1px #ffffff;
    font-size: 0.20rem;
    line-height: 1;
}

.containart .date .datenum {
    font-size: 0.24rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0.04rem;
}

.containart .content {
    width: 4.52rem;
    font-size: 0.26rem;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.containart .rightarr {
    width: 0.24rem;
    height: 0.24rem;
}

.pagescon {
    height: 0.5rem;
    margin-top: 0.36rem;
    margin-bottom: 0.63rem;
}

/* 2.2.14感恩活动 */
.commontit {
    width: 100%;
    height: 0.92rem;
    border-left: 0.18rem solid #8b52ef;
    padding-left: 0.2rem;
    text-align: left;
    font-family: FZltcHK--gBK1-0;
}

.tithead {
    font-size: 0.36rem;
    color: white;
    text-shadow: 0px 5px 5px #000000;
}

.titeng {
    font-size: 0.24rem;
    color: #aa8ff4;
    margin-top: 0.1rem;
}

/* 2.2.15誓言 */
.gratitude {
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    padding-left: 0.27rem;
    line-height: 0;
    margin-top: -0.7rem;
}

.gratitude .letter {
    width: 7.23rem;
    height: 11rem;
}

.gratitude .btngroup {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 0rem;
}

.gratitude .btngroup .btn {
    display: inline-block;
    padding: 0.08rem 0.1rem;
    background-color: #5e07e9;
    box-shadow: 0px 2px 0.1rem 0px rgba(0, 0, 0, 0.32);
    border-radius: 0.3rem;
    border: solid 1px #ffffff;
    font-size: 0.2rem;
    color: white;
    line-height: 1;
}

/* 2.2.16联系我们  */
.commontit {
    width: 100%;
    height: 0.92rem;
    border-left: 0.18rem solid #8b52ef;
    padding-left: 0.2rem;
    text-align: left;
    margin-top: 0.7rem;
    font-family: FZltcHK--gBK1-0;
}

#outer .tithead {
    font-size: 0.36rem;
    color: white;
    text-shadow: 0px 5px 5px #000000;
}
.titeng {
    font-size: 0.24rem;
    color: #aa8ff4;
    margin-top: 0.1rem;
}
.through {
    font-size: 0.28rem;
    color: white;
    margin-left: 0.47rem;
    margin-top: 0.4rem;
    text-align: left;
}
.containqr {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.qrcodess {
    width: 2.06rem;
    height: 2.28rem;
}